# Advanced Querying Mongo

Importing libraries and setting up connection

In [4]:
%pip install pymongo
from pymongo import MongoClient
client='mongodb://localhost:27017'

cursor=MongoClient(client)

db=cursor.companies
db

Requirement already satisfied: pymongo in c:\users\ari\anaconda3\lib\site-packages (4.3.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\ari\anaconda3\lib\site-packages (from pymongo) (2.2.1)
Note: you may need to restart the kernel to use updated packages.

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'companies')

In [5]:
cursor.list_database_names()

['admin', 'companies', 'config', 'local']

In [6]:
db.list_collection_names()

['companies']

In [7]:
#list(db.companies.find())

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [8]:
query={'name': 'Babelgum'}
filtro={'name': True, '_id': False}

list(db.companies.find(query,filtro))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [9]:
query={'number_of_employees': {'$gt': 5000}}
filtro={'name': True, '_id': False}

list(db.companies.find(query,filtro).limit(2))

[{'name': 'Facebook'}, {'name': 'eBay'}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [10]:
query={'$and':[{'founded_year':{'$lt': 2005}}, 
               {'founded_year':{'$gt': 2000}}]}

filtro={'name': True, 'founded_year':True,'_id': False}

list(db.companies.find(query,filtro).limit(2))

[{'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [11]:
query={'$and':[{'ipo.valuation_amount':{'$gt': 1e8}}, 
               {'founded_year':{'$lt': 2010}}]}

filtro={'name': True, 'ipo.valuation_amount':True, '_id': False}

list(db.companies.find(query,filtro).limit(2))

[{'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [12]:
query={'$and':[{'number_of_employees':{'$lt': 1000}}, 
               {'founded_year':{'$lt': 2005}}]}

filtro={'name': True,'number_of_employees': True,'_id': False }

list(db.companies.find(query,filtro).sort('number_of_employees',-1).limit(2))

[{'name': 'Infinera Corporation', 'number_of_employees': 974},
 {'name': 'NorthPoint Communications Group', 'number_of_employees': 948}]

### 6. All the companies that don't include the `partners` field.

In [13]:
query={ "partners": {'$exists':False}}
filtro={'name': True, '_id': False}

list(db.companies.find(query,filtro))

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [14]:
query={ "category_code": {'$type':10}}
filtro={'name': True, '_id': False}

list(db.companies.find(query,filtro).limit(2))

[{'name': 'Collective'}, {'name': 'Snimmer'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [15]:
query={'$and':[{'number_of_employees':{'$lte': 1000}}, 
               {'number_of_employees':{'$gte': 100}}]}

filtro={'name': True,'number_of_employees': True,'_id': False }

list(db.companies.find(query,filtro).sort('number_of_employees',1).limit(2))

[{'name': 'Simply Hired', 'number_of_employees': 100},
 {'name': 'Redfin', 'number_of_employees': 100}]

### 9. Order all the companies by their IPO price in a descending order.

In [16]:
query={}

filtro={'name': True, 'ipo.valuation_amount':True, '_id': False}

list(db.companies.find(query,filtro).sort('ipo.valuation_amount',-1).limit(10))

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [17]:
query={}

filtro={'name': True, 'number_of_employees':True, '_id': False}

list(db.companies.find(query,filtro).sort('number_of_employees',-1).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [18]:
query={ 'founded_month': {'$gt':6}}
filtro={'name': True, '_id': False}

list(db.companies.find(query,filtro).limit(2))##ya se que el limit es 1000 pero para quen no os volvais locos

[{'name': 'Wetpaint'}, {'name': 'Zoho'}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [19]:
query={'$and':[{'founded_year':{'$lt': 2000}}, 
               {'acquisition.price_amount':{'$gt': 1e5}}]}

filtro={'name': True,'_id': False }

list(db.companies.find(query,filtro).limit(2))

[{'name': 'Postini'}, {'name': 'SideStep'}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [20]:
query= {'acquisition.acquired_year':{'$gt': 2010}}

filtro={'name': True, 'acquisition':True,'_id': False }

list(db.companies.find(query,filtro).sort('acquisition.price_amount',-1).limit(2))

[{'name': 'T-Mobile',
  'acquisition': {'price_amount': 39000000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/03/20/in-the-race-for-more-spectrum-att-is-acquiring-t-mobile-for-39-billion/',
   'source_description': 'In The Race For More Spectrum, AT&T Is Acquiring T-Mobile For $39 Billion',
   'acquired_year': 2011,
   'acquired_month': 3,
   'acquired_day': 20,
   'acquiring_company': {'name': 'AT&T', 'permalink': 'at-t'}}},
 {'name': 'Goodrich Corporation',
  'acquisition': {'price_amount': 18400000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.masshightech.com/stories/2011/09/19/daily37-UTC-shells-out-184-billion-for-Goodrich.html',
   'source_description': 'UTC shells out $18.4 billion for Goodrich',
   'acquired_year': 2011,
   'acquired_month': 9,
   'acquired_day': 22,
   'acquiring_company': {'name': 'United Technologies',
    'permalink': 'united-technologies'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [21]:
query= {}

filtro={'name': True, 'founded_year':True,'_id': False }

list(db.companies.find(query,filtro).sort('founded_year',-1).limit(2))

[{'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Fixya', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [22]:
query={ 'founded_day': {'$lte':7}}
filtro={'name': True, '_id': False}

list(db.companies.find(query,filtro).sort('acquisition.price_amount',-1).limit(10))

[{'name': 'Netscape'},
 {'name': 'PayPal'},
 {'name': 'Zappos'},
 {'name': 'Alibaba'},
 {'name': 'Postini'},
 {'name': 'Danger'},
 {'name': 'Clearwell Systems'},
 {'name': 'PrimeSense'},
 {'name': 'Amobee'},
 {'name': 'BlueLithium'}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [23]:
query={'$and':[{'category_code': 'web'},{'number_of_employees':{'$gt': 4000}}]}
       
filtro={'name': True, '_id': False}

list(db.companies.find(query,filtro).sort('number_of_employees',1).limit(10))

[{'name': 'Expedia'},
 {'name': 'AOL'},
 {'name': 'Webkinz'},
 {'name': 'Rakuten'},
 {'name': 'Los Angeles Times Media Group'},
 {'name': 'Groupon'},
 {'name': 'Yahoo!'},
 {'name': 'eBay'},
 {'name': 'Experian'}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [24]:
query={'$and':[{'acquisition.price_currency_code': 'EUR'},{'acquisition.price_amount':{'$gt':1e5}}]}
       
filtro={'name': True, '_id': False}

list(db.companies.find(query,filtro).limit(10))

[{'name': 'ZYB'},
 {'name': 'Apertio'},
 {'name': 'Greenfield Online'},
 {'name': 'Mobile Trend'},
 {'name': 'Excite Europe'},
 {'name': 'YelloYello'},
 {'name': 'Webedia'},
 {'name': 'Wayfinder'},
 {'name': 'Branded Payment Solutions'},
 {'name': 'Tuenti Technologies'}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [25]:
query={'acquisition.acquired_month':{'$lte':4 }}
       
filtro={'name': True,'acquisition':True, '_id': False}

list(db.companies.find(query,filtro).limit(2))

[{'name': 'StumbleUpon',
  'acquisition': {'price_amount': 29000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2009/04/13/ebay-unacquires-stumbleupon/',
   'source_description': "StumbleUpon Beats Skype In Escaping EBay's Clutches",
   'acquired_year': 2009,
   'acquired_month': 4,
   'acquired_day': None,
   'acquiring_company': {'name': 'StumbleUpon', 'permalink': 'stumbleupon'}}},
 {'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [26]:
query={'$and':[{'founded_year': {'$lt': 2010}}, {'founded_year': {'$gt': 2000}},{'acquisition.acquired_year': {'$gt': 2011}}]}
      
filtro={'name': True, '_id': False}
list(db.companies.find(query,filtro).limit(2) )

[{'name': 'Wetpaint'}, {'name': 'Digg'}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [27]:
import pandas as pd
filtro = {'name': True,'deadpooled_year': True, 'founded_year':True, '_id': False}
query = {}
df=pd.DataFrame(list(db.companies.find(query,filtro)))

df.dropna(inplace=True)
df = df.reset_index(drop = True)
df.head()

list = []
count = 0
for i in df.deadpooled_year:
    if i < 50:
        list.append(i)
        count += 1
    elif i >=50 :
        #print(int(df.founded_year[count]))
        list.append(i - int(df.founded_year[count]))
        count += 1






df['deadpooled_year'] = list

df[df.deadpooled_year> 3].head()

        name  founded_year  deadpooled_year
4   Babelgum        2007.0              6.0
6      Thoof        2006.0              7.0
7     Wesabe        2005.0              5.0
9    Stickam        2006.0              7.0
10  AllPeers        2004.0              4.0